
catbox/romfs/adv.txa
catbox/romfs/bgmmode.txa
catbox/romfs/bupmode.txa
catbox/romfs/cake.txa
catbox/romfs/cgmode.txa
catbox/romfs/chars.txa
catbox/romfs/config.txa
catbox/romfs/last.txa
catbox/romfs/logview.txa
catbox/romfs/manual.txa
catbox/romfs/moviemode.txa
catbox/romfs/murderer.txa
catbox/romfs/quiz.txa
catbox/romfs/saveload.txa
catbox/romfs/snrsel.txa
catbox/romfs/splash.txa
catbox/romfs/tips.txa
catbox/romfs/title.txa
catbox/romfs/picture/wd.pic
catbox/romfs/picture/title_xxx.pic
catbox/romfs/picture/title_work.pic
catbox/romfs/picture/title_witchhunter.pic
catbox/romfs/picture/title_whiteday.pic
catbox/romfs/picture/title_warera.pic
catbox/romfs/picture/title_tanabata2.pic
catbox/romfs/picture/title_summoner.pic
catbox/romfs/picture/title_rg.pic
catbox/romfs/picture/title_omazinai.pic
catbox/romfs/picture/title_hahanohi.pic
catbox/romfs/picture/title_goh.pic
catbox/romfs/picture/title_fan2.pic
catbox/romfs/picture/title_cor.pic
catbox/romfs/picture/title_angel17.pic
catbox/romfs/picture/title_aboutmagic.pic
catbox/romfs/picture/title_34.pic
catbox/romfs/picture/text101.pic
catbox/romfs/picture/text100.pic
catbox/romfs/picture/sakutaro_rogo.pic
catbox/romfs/picture/rollout_2.pic
catbox/romfs/picture/poem2_3.pic
catbox/romfs/picture/poem2_2.pic
catbox/romfs/picture/poem2_1.pic
catbox/romfs/picture/poem1_3.pic
catbox/romfs/picture/poem1_2.pic
catbox/romfs/picture/poem1_1.pic
catbox/romfs/picture/ita04.pic
catbox/romfs/picture/ita03.pic
catbox/romfs/picture/ita02.pic
catbox/romfs/picture/ita01.pic
catbox/romfs/picture/gouda_text4.pic
catbox/romfs/picture/gouda_text3.pic
catbox/romfs/picture/gouda_text2.pic
catbox/romfs/picture/gouda_text1.pic
catbox/romfs/picture/gm_b.pic
catbox/romfs/picture/drink2.pic
catbox/romfs/picture/dareocha.pic
catbox/romfs/picture/cinema_logo4.pic
catbox/romfs/picture/boshuu.pic
catbox/romfs/picture/bb_quiz.pic
catbox/romfs/picture/b_zep.pic
catbox/romfs/picture/b_sata.pic
catbox/romfs/picture/b_s55.pic
catbox/romfs/picture/b_s45.pic
catbox/romfs/picture/b_s41.pic
catbox/romfs/picture/b_s00.pic
catbox/romfs/picture/b_rusi.pic
catbox/romfs/picture/b_revi.pic
catbox/romfs/picture/b_mamo.pic
catbox/romfs/picture/b_ger.pic
catbox/romfs/picture/b_fur.pic
catbox/romfs/picture/b_enj.pic
catbox/romfs/picture/b_dla.pic
catbox/romfs/picture/b_cor.pic
catbox/romfs/picture/b_beru.pic
catbox/romfs/picture/b_berf.pic
catbox/romfs/picture/b_bea.pic
catbox/romfs/picture/b_asum.pic
