
catbox/romfs/adv.txa
catbox/romfs/bgmmode.txa
catbox/romfs/bupmode.txa
catbox/romfs/cake.txa
catbox/romfs/cgmode.txa
catbox/romfs/chars.txa
catbox/romfs/config.txa
catbox/romfs/last.txa
catbox/romfs/logview.txa
catbox/romfs/manual.txa
catbox/romfs/moviemode.txa
catbox/romfs/murderer.txa
catbox/romfs/quiz.txa
catbox/romfs/saveload.txa
catbox/romfs/snrsel.txa
catbox/romfs/splash.txa
catbox/romfs/tips.txa
catbox/romfs/title.txa
catbox/romfs/picture/wd.pic
catbox/romfs/picture/title_xxx.pic
catbox/romfs/picture/title_work.pic
catbox/romfs/picture/title_witchhunter.pic
catbox/romfs/picture/title_whiteday.pic
catbox/romfs/picture/title_warera.pic
catbox/romfs/picture/title_tanabata2.pic
catbox/romfs/picture/title_summoner.pic
catbox/romfs/picture/title_rg.pic
catbox/romfs/picture/title_omazinai.pic
catbox/romfs/picture/title_hahanohi.pic
catbox/romfs/picture/title_goh.pic
catbox/romfs/picture/title_fan2.pic
catbox/romfs/picture/title_cor.pic
catbox/romfs/picture/title_angel17.pic
catbox/romfs/picture/title_aboutmagic.pic
catbox/romfs/picture/title_34.pic
catbox/romfs/picture/text101.pic
catbox/romfs/picture/text100.pic
catbox/romfs/picture/sakutaro_rogo.pic
catbox/romfs/picture/rollout_2.pic
catbox/romfs/picture/poem2_3.pic
catbox/romfs/picture/poem2_2.pic
catbox/romfs/picture/poem2_1.pic
catbox/romfs/picture/poem1_3.pic
catbox/romfs/picture/poem1_2.pic
catbox/romfs/picture/poem1_1.pic
catbox/romfs/picture/ita04.pic
catbox/romfs/picture/ita03.pic
catbox/romfs/picture/ita02.pic
catbox/romfs/picture/ita01.pic
catbox/romfs/picture/gouda_text4.pic
catbox/romfs/picture/gouda_text3.pic
catbox/romfs/picture/gouda_text2.pic
catbox/romfs/picture/gouda_text1.pic
catbox/romfs/picture/gm_b.pic
catbox/romfs/picture/drink2.pic
catbox/romfs/picture/dareocha.pic
catbox/romfs/picture/cinema_logo4.pic
catbox/romfs/picture/boshuu.pic
catbox/romfs/picture/bb_quiz.pic
catbox/romfs/picture/b_zep.pic
catbox/romfs/picture/b_sata.pic
catbox/romfs/picture/b_s55.pic
catbox/romfs/picture/b_s45.pic
catbox/romfs/picture/b_s41.pic
catbox/romfs/picture/b_s00.pic
catbox/romfs/picture/b_rusi.pic
catbox/romfs/picture/b_revi.pic
catbox/romfs/picture/b_mamo.pic
catbox/romfs/picture/b_ger.pic
catbox/romfs/picture/b_fur.pic
catbox/romfs/picture/b_enj.pic
catbox/romfs/picture/b_dla.pic
catbox/romfs/picture/b_cor.pic
catbox/romfs/picture/b_beru.pic
catbox/romfs/picture/b_berf.pic
catbox/romfs/picture/b_bea.pic
catbox/romfs/picture/b_asum.pic
catbox/romfs/picture/after_decades.pic
catbox/romfs/picture/alibi0.pic
catbox/romfs/picture/alibi1.pic
catbox/romfs/picture/alibi10.pic
catbox/romfs/picture/alibi11.pic
catbox/romfs/picture/alibi12.pic
catbox/romfs/picture/alibi13.pic
catbox/romfs/picture/alibi2.pic
catbox/romfs/picture/alibi3.pic
catbox/romfs/picture/alibi4.pic
catbox/romfs/picture/alibi5.pic
catbox/romfs/picture/alibi6.pic
catbox/romfs/picture/alibi7.pic
catbox/romfs/picture/alibi8.pic
catbox/romfs/picture/alibi9.pic
catbox/romfs/picture/cas_ep5_1.pic
catbox/romfs/picture/cas_ep5_2.pic
catbox/romfs/picture/cas_ep5_3.pic
catbox/romfs/picture/cas_ep5_4.pic
catbox/romfs/picture/cas_ep5_5.pic
catbox/romfs/picture/cas_ep5_6.pic
catbox/romfs/picture/cas_ep5_7.pic
catbox/romfs/picture/comment1.pic
catbox/romfs/picture/comment10.pic
catbox/romfs/picture/comment11.pic
catbox/romfs/picture/comment12.pic
catbox/romfs/picture/comment13.pic
catbox/romfs/picture/comment14.pic
catbox/romfs/picture/comment15.pic
catbox/romfs/picture/comment16.pic
catbox/romfs/picture/comment17.pic
catbox/romfs/picture/comment18.pic
catbox/romfs/picture/comment19.pic
catbox/romfs/picture/comment2.pic
catbox/romfs/picture/comment20.pic
catbox/romfs/picture/comment21.pic
catbox/romfs/picture/comment22.pic
catbox/romfs/picture/comment23.pic
catbox/romfs/picture/comment24.pic
catbox/romfs/picture/comment25.pic
catbox/romfs/picture/comment3.pic
catbox/romfs/picture/comment4.pic
catbox/romfs/picture/comment5.pic
catbox/romfs/picture/comment6.pic
catbox/romfs/picture/comment7.pic
catbox/romfs/picture/comment8.pic
catbox/romfs/picture/comment9.pic
catbox/romfs/picture/dai_1.pic
catbox/romfs/picture/dai_2.pic
catbox/romfs/picture/dai_4.pic
catbox/romfs/picture/dai_56.pic
catbox/romfs/picture/dai_7.pic
catbox/romfs/picture/dai_8.pic
catbox/romfs/picture/end_1a.pic
catbox/romfs/picture/end_1b.pic
catbox/romfs/picture/end_2a.pic
catbox/romfs/picture/end_2d.pic
catbox/romfs/picture/end_3a.pic
catbox/romfs/picture/end_3d.pic
catbox/romfs/picture/end_4a.pic
catbox/romfs/picture/end_5a.pic
catbox/romfs/picture/end_6a.pic
catbox/romfs/picture/end_7a.pic
catbox/romfs/picture/end_8a_t1.pic
catbox/romfs/picture/end_8a_t2.pic
catbox/romfs/picture/end_8b.pic
catbox/romfs/picture/end_saku.pic
catbox/romfs/picture/enj_mirai01.pic
catbox/romfs/picture/ep2_text.pic
catbox/romfs/picture/ep4last01.pic
catbox/romfs/picture/ep4last02.pic
catbox/romfs/picture/ep4last03.pic
catbox/romfs/picture/ep4last04.pic
catbox/romfs/picture/ep4last05.pic
catbox/romfs/picture/ep4last06.pic
catbox/romfs/picture/ep4last07.pic
catbox/romfs/picture/ep4last08.pic
catbox/romfs/picture/ep4last09.pic
catbox/romfs/picture/ep8ed_01.pic
catbox/romfs/picture/ep8ed_02.pic
catbox/romfs/picture/ep8ed_03.pic
catbox/romfs/picture/ep8ed_04.pic
catbox/romfs/picture/ep8ed_05.pic
catbox/romfs/picture/ep8ed_06.pic
catbox/romfs/picture/ep8ed_07.pic
catbox/romfs/picture/ep8ed_08.pic
catbox/romfs/picture/ep8ed_09.pic
catbox/romfs/picture/ep8ed_10.pic
catbox/romfs/picture/ep8ed_11.pic
catbox/romfs/picture/ep8ed_12.pic
catbox/romfs/picture/ep8ed_13.pic
catbox/romfs/picture/ep8ed_14.pic
catbox/romfs/picture/goa_memory1.pic
catbox/romfs/picture/goa_memory2.pic
catbox/romfs/picture/goa_memory3.pic
catbox/romfs/picture/goa_memory4.pic
catbox/romfs/picture/hibun.pic
catbox/romfs/picture/kakera_memory1.pic
catbox/romfs/picture/kakera_memory10.pic
catbox/romfs/picture/kakera_memory2.pic
catbox/romfs/picture/kakera_memory3.pic
catbox/romfs/picture/kakera_memory4.pic
catbox/romfs/picture/kakera_memory5.pic
catbox/romfs/picture/kakera_memory6.pic
catbox/romfs/picture/kakera_memory7.pic
catbox/romfs/picture/kakera_memory8.pic
catbox/romfs/picture/kakera_memory9.pic
catbox/romfs/picture/last1.pic
catbox/romfs/picture/last2.pic
catbox/romfs/picture/m1.pic
catbox/romfs/picture/m2.pic
catbox/romfs/picture/mondai_1.pic
catbox/romfs/picture/mondai_10.pic
catbox/romfs/picture/mondai_11.pic
catbox/romfs/picture/mondai_12.pic
catbox/romfs/picture/mondai_13.pic
catbox/romfs/picture/mondai_14.pic
catbox/romfs/picture/mondai_15.pic
catbox/romfs/picture/mondai_16.pic
catbox/romfs/picture/mondai_2.pic
catbox/romfs/picture/mondai_3.pic
catbox/romfs/picture/mondai_4.pic
catbox/romfs/picture/mondai_5.pic
catbox/romfs/picture/mondai_6.pic
catbox/romfs/picture/mondai_7.pic
catbox/romfs/picture/mondai_8.pic
catbox/romfs/picture/mondai_9.pic
catbox/romfs/picture/note4.pic
catbox/romfs/picture/oct_1998.pic
catbox/romfs/picture/oct_4_1986.pic
catbox/romfs/picture/oct_4_1998.pic
catbox/romfs/picture/oct_4_1998b.pic
catbox/romfs/picture/oct_5_1985.pic
catbox/romfs/picture/oct_5_1986.pic
catbox/romfs/picture/oct_6_1986.pic
catbox/romfs/picture/one_year_later.pic
catbox/romfs/picture/op0102.pic
catbox/romfs/picture/op0103.pic
catbox/romfs/picture/op0104.pic
catbox/romfs/picture/op0105.pic
catbox/romfs/picture/op0106.pic
catbox/romfs/picture/op0108.pic
catbox/romfs/picture/op0202.pic
catbox/romfs/picture/op0203.pic
catbox/romfs/picture/op0204.pic
catbox/romfs/picture/op0205.pic
catbox/romfs/picture/op0206.pic
catbox/romfs/picture/op0207.pic
catbox/romfs/picture/op0208.pic
catbox/romfs/picture/purgatorio.pic
catbox/romfs/picture/story_list0.pic
catbox/romfs/picture/story_list1.pic
catbox/romfs/picture/story_list2.pic
catbox/romfs/picture/story_list3.pic
catbox/romfs/picture/story_list4.pic
catbox/romfs/picture/story_list5.pic
catbox/romfs/picture/story_list6.pic
catbox/romfs/picture/story_list7.pic
catbox/romfs/picture/story_list8.pic
catbox/romfs/picture/story_list9.pic
catbox/romfs/picture/system1.pic
catbox/romfs/picture/system2.pic
catbox/romfs/picture/system3.pic
catbox/romfs/picture/system4.pic
catbox/romfs/picture/system5.pic
catbox/romfs/picture/text001.pic
catbox/romfs/picture/text004.pic
catbox/romfs/picture/text005.pic
catbox/romfs/picture/text008.pic
catbox/romfs/picture/text010.pic
catbox/romfs/picture/text010a.pic
catbox/romfs/picture/text010b.pic
catbox/romfs/picture/text010c.pic
catbox/romfs/picture/text011_r.pic
catbox/romfs/picture/text012_r.pic
catbox/romfs/picture/text13.pic
catbox/romfs/picture/text14.pic
catbox/romfs/picture/text15.pic
catbox/romfs/picture/unknown01.pic
catbox/romfs/picture/warera_arigatou.pic
catbox/romfs/picture/years_1980.pic
catbox/romfs/picture/years_1981.pic
catbox/romfs/picture/years_1982.pic
catbox/romfs/picture/years_1983.pic
catbox/romfs/picture/years_1984.pic
catbox/romfs/picture/years_1998.pic
catbox/romfs/movie/sakucs_op.mp4
catbox/romfs/picture/end_5c.pic
catbox/romfs/movie/ogon_op.mp4
catbox/romfs/movie/ogonc_op.mp4
catbox/romfs/movie/ogonx_op.mp4
catbox/romfs/movie/op1.mp4
catbox/romfs/movie/op2.mp4
catbox/romfs/movie/op56.mp4
catbox/romfs/movie/op78.mp4
catbox/romfs/movie/pc_op.mp4
catbox/romfs/movie/sakupc_op.mp4
catbox/romfs/picture/end_1c.pic
catbox/romfs/picture/end_2c.pic
catbox/romfs/picture/end_3b.pic
catbox/romfs/picture/end_4b.pic
catbox/romfs/picture/end_6b.pic
catbox/romfs/picture/end_7c.pic
catbox/romfs/picture/end_8c.pic
catbox/romfs/picture/end_tsubasa.pic
