
catbox/romfs/adv.txa
catbox/romfs/bgmmode.txa
catbox/romfs/bupmode.txa
catbox/romfs/cake.txa
catbox/romfs/cgmode.txa
catbox/romfs/chars.txa
catbox/romfs/config.txa
catbox/romfs/last.txa
catbox/romfs/logview.txa
catbox/romfs/manual.txa
catbox/romfs/moviemode.txa
catbox/romfs/murderer.txa
catbox/romfs/quiz.txa
catbox/romfs/saveload.txa
catbox/romfs/snrsel.txa
catbox/romfs/splash.txa
catbox/romfs/tips.txa
catbox/romfs/title.txa
